<div class="fusen1"><%= link_to "次へ", explain2_path %></div>
<h3>最初のポイント</h3>
<h4>まずは、大家さん（賃貸人）に頼んで、敷金の精算書をもらいましょう</h4>
<div class="fusen2">たとえば、敷金精算書は、次の画像のようなものになります</div>
<h5>（実物を参考にしたものをもってくる）</h5>
<div class="image1"><%= image_tag 'meisai.png', size: "300x300"%></div>
