<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <div id="ok_mark"></div>
  <h5>　Sign up</h5>
  <div id="now_mark"></div>
  <h5 id="now">　文書作成の説明</h5>
  <h5 id="future">　取引内容の入力</h5>
  <h5 id="future">　敷金精算書の入力</h5>
  <h5 id="future">　通常損耗のチェック</h5>
  <h5 id="future">　負担範囲のチェック</h5>
  <h5 id="future">　経年劣化のチェック</h5>
  <h5 id="future">　敷金返還額の確認画面</h5>
  <h5 id="future">　文書のダウンロード</h5>
  <h5 id="question">よくある質問</h5>
 </div>
</div>

<div id="C">
  <h3>敷金返還のポイント</h3>
  <h4>敷金返還のポイントは、「敷金精算書」の「工事の費用」の金額を少なくすることです。その時のポイントは、次の①〜③です</h4>
  <ul>
    <li>①通常損耗 ：通常想定される使用による損耗等は、負担しなくて良い</li>
    <li>②経年劣化 ：通常外の使用による損傷等でも、全額までは負担しなくて良い</li>
    <li>③負担範囲 ：過大な工事費は、負担しなくて良い</li>
  </ul>
  <div class="image1"><%= image_tag 'explain1.png', size: "900x300"%></div>
  <div class="fusen1"><%= link_to "次へ", explain3_path %></div>
  <div class="fusen3"><%= link_to "戻る", explain1_path %></div>
</div>
