<% @transaction = Transaction.where(user_id:current_user.id).last %>
<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <div id="ok_mark"></div>
  <h5>　Sign up</h5>
  <div id="now_mark"></div>
  <h5 id="now">　文書作成の説明</h5>
  <h5 id="future">　取引内容の入力</h5>
  <h5 id="future">　敷金精算書の入力</h5>
  <h5 id="future">　通常損耗のチェック</h5>
  <h5 id="future">　負担範囲のチェック</h5>
  <h5 id="future">　経年劣化のチェック</h5>
  <h5 id="future">　敷金返還額の確認画面</h5>
  <h5 id="future">　文書のダウンロード</h5>
  <h5 id="question">よくある質問</h5>
 </div>
</div>

<div id="C">
  <h3>敷金返還のポイント</h3>
  <h4>①通常損耗、②経年劣化、③負担範囲というポイントでみていきましょう</h4>
  <h4>たとえば、前のページの敷金精算書のチェックポイントは次のようなものになります。</h4>
  <h5>（実物を参考にしたものをもってくる。また、チェックポイントを矢印で記載する）</h5>
  <div class="image1"><%= image_tag 'meisai.jpg', size: "300x300"%></div>
  <% if @transaction == nil %>
  <div class="new_order_form_submit btn common_btn btn_shadow_dark"><%= link_to "次へ（新規）", new_transaction_path, class: 'btn common_btn btn_shadow_dark' %></div>
  <% end %>
  <% if @transaction != nil %>
  <div class="new_order_form_submit"><%= link_to "次へ（編集）", edit_transaction_path(@transaction.id), class: 'btn common_btn btn_shadow_dark' %></div>
  <% end %>
  <div class="new_order_form_submit"><%= link_to "前のステップ", explain2_path, class: 'btn common_btn btn_shadow_dark' %></div>
</div>
