<div class="fusen1"><%= link_to "次へ", explain3_path %></div>
<h3>敷金返還のポイント</h3>
<h4>敷金返還のポイントは、「敷金精算書」の「工事の費用」の金額を少なくすることです。その時のポイントは、次の①〜③です</h4>
<ul>
  <li>①通常損耗　：通常想定される使用による損耗等は、負担しなくて良い</li>
  <li>②経年劣化　：通常外の使用による損傷等でも、全額までは負担しなくて良い</li>
  <li>③負担範囲　：過大な工事費は、負担しなくて良い</li>
</ul>
<div class="fusen2">たとえば、敷金精算書は、次の画像のようなものになります</div>
<h5>（実物を参考にしたものをもってくる）</h5>
<div class="image1"><%= image_tag 'meisai.png', size: "300x300"%></div>
