<div class="fusen1"><%= link_to "次へ", explain3_path %></div>
<div class="fusen3"><%= link_to "戻る", explain2_path %></div>
<h3>敷金返還のポイント</h3>
<h4>①通常損耗、②経年劣化、③負担範囲というポイントでみていきましょう</h4>
<div class="fusen2">たとえば、前のページの敷金精算書のチェックポイントは次のようなものになります。</div>
<h5>（実物を参考にしたものをもってくる。また、チェックポイントを矢印で記載する）</h5>
<div class="image1"><%= image_tag 'meisai.png', size: "300x300"%></div>
