<div id="B">
  <h5 id="sidetitle">敷金返還請求　　　　　文書作成</h5>
  <h5>　Sign up</h5>
  <h5 id="now">　文書作成の説明</h5>
  <h5>　取引内容の入力</h5>
  <h5>　敷金精算書の入力</h5>
  <h5>　通常損耗のチェック</h5>
  <h5>　負担範囲のチェック</h5>
  <h5>　経年劣化のチェック</h5>
  <h5>　敷金返還額の確認画面</h5>
  <h5>　文書のダウンロード</h5>
  <h5 id="question">よくある質問（Q&A）</h5>
 </div>
</div>

<div id="C">
  <div class="fusen1"><%= link_to "次へ", new_transaction_path %></div>
  <div class="fusen3"><%= link_to "戻る", explain2_path %></div>
  <h3>敷金返還のポイント</h3>
  <h4>①通常損耗、②経年劣化、③負担範囲というポイントでみていきましょう</h4>
  <div class="fusen2">たとえば、前のページの敷金精算書のチェックポイントは次のようなものになります。</div>
  <h5>（実物を参考にしたものをもってくる。また、チェックポイントを矢印で記載する）</h5>
  <div class="image1"><%= image_tag 'meisai.png', size: "300x300"%></div>
</div>
