<div id="A">
  </div>
  <h3>本サイトは、敷金返還の通知書を作っていくサービスになります</h3>
  <a><%= link_to "はじめる", new_user_path, class: 'btn common_btn btn_shadow_dark' %></a></div>
  <div class="top_image">
    <%= image_tag 'top.jpg', class: 'mypage_image' %>
  </div>
</div>
<h1>　</h1>
<h4>　</h4>
