<p id="notice"><%= notice %></p>
<h3>本サイトは、敷金返還の通知書を作っていくサービスになります</h3>
<!-- <div class="fusen1"><%= link_to "さっそく使ってみる", explain1_path %></div> -->
<div class="fusen1"><%= link_to "さっそく使ってみる", new_user_path %></div>
<div class="image1"><%= image_tag 'top.png', size: "700x300" alt="書類が簡単につくれるよ" %></div>
