
#sidetitle {
  color: white;
  background-color: #596dd9;
}
#question {
  color: white;
  background-color:  rgb(1, 13, 1);
}
#now {
  background-color: rgb(205, 238, 57);
}
#future {
  height:27px;
  margin-bottom: 23px;
  margin-top: 23px;
  background-color: rgb(216, 226, 228);
  width: 150px;
}
// header {
//   width:1300px;
//   padding-bottom: -20px;
//   padding-left: 20px;
//   background-color: rgb(205, 238, 57);
// }
// footer {
//   // position: absolute; bottom: 0;
//   width:1300px;
//   background-color: rgb(205, 238, 57);
//   min-height:70px;
//   margin-top:10px;
//   padding-left: 20px;
// }
.top_image {
  position: relative;
  margin-top: 70px;
  margin-left: 10px;
}
.top_image p {
  position: absolute;/*絶対配置*/
  color: blue;/*文字は白に*/
  top: 0;
  left: 0;
  }
.fusen1 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:120px;
  background-color: rgb(240, 26, 26);
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen2 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:800px;
  background-color: rgb(102, 255, 255);
}
.fusen3 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:120px;
  background-color: #596dd9;
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen4 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:100px;
  background-color: rgb(199, 240, 153);
}
.fusen5 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:700px;
  background-color: rgb(199, 240, 153);
}
.fusen52 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:500px;
  color:white;
  background-color: rgb(236, 28, 28);
}
.fusen6 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:15px;
  width:200px;
  background-color: rgb(16, 223, 186);
}
.fusen7 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:15px;
  width:200px;
  background-color: rgb(255, 203, 102);
}
.fusen8 {
  color:white;
  width:400px;
  background-color: rgb(227, 49, 17);
}
.column {
  font-size:13px;
}
.column_last {
  font-size:13px;
  background-color: rgb(255, 203, 102);
}
