
#sidetitle {
  color: white;
  background-color: #596dd9;
}
#question {
  height:27px;
  color: white;
  background-color:  rgb(1, 13, 1);
  padding-left: 15px;
}

#now {
  color: red;
  // background: linear-gradient(transparent 50%, #a8eaff 50%);
  border-bottom: dotted 2px #f11717;
  // border-bottom: solid 3px #eb1919;
}

#now2 {
  color: red;
  // background: linear-gradient(transparent 50%, #a8eaff 50%);
  border-bottom: dotted 2px #f11717;
  // border-bottom: solid 3px #eb1919;
  width: 550px;
  margin-top: 70px;
}

#ok_mark {
  width: 10px;
  height: 5px;
  border-left: 2px solid #25AF01;
  border-bottom: 2px solid #25AF01;
  transform: rotate(-45deg);
  float: left;
  margin-top: 5px;
}

#now_mark {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 4px;
  margin-left: 4px;
  border: transparent solid 5px;
  border-left-color: #f00;
  vertical-align: 4px;
  float: left;
  margin-top: 5px;
}


#future {
  height:27px;
  margin-bottom: 23px;
  margin-top: 23px;
  margin-left: 15px;
  background-color: rgb(216, 226, 228);
  width: 150px;
}
// header {
//   width:1300px;
//   padding-bottom: -20px;
//   padding-left: 20px;
//   background-color: rgb(205, 238, 57);
// }
// footer {
//   // position: absolute; bottom: 0;
//   width:1300px;
//   background-color: rgb(205, 238, 57);
//   min-height:70px;
//   margin-top:10px;
//   padding-left: 20px;
// }
.top_image {
  position: relative;
  margin-top: 70px;
  margin-left: 10px;
}
.top_image p {
  position: absolute;/*絶対配置*/
  color: blue;/*文字は白に*/
  top: 0;
  left: 0;
  }

  .box2 {
      padding: 0.5em 1em;
      margin: 2em 1em;
      font-weight: bold;
      color: #6091d3;/*文字色*/
      background: #FFF;
      border: solid 3px #6091d3;/*線*/
      border-radius: 10px;/*角の丸み*/
  }

  .box3 {
      width: 900px;
      padding: 0.5em 1em;
      margin: 2em 1em;
      font-weight: bold;
      color: #1464d0;/*文字色*/
      background: #FFF;
      border: solid 3px #6091d3;/*線*/
      border-radius: 10px;/*角の丸み*/
  }

  .box4 {
    width: 900px;
    padding: 0.5em 1em;
    margin: 2em 1em;
    font-weight: bold;
    color: #4b3e40;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
  }

.box_line1 {
    border-bottom: 1px dashed #6091d3;
  }

.box_line2 {
    border-bottom: 1px dashed #4b3e40;
  }

.title {
  font-size: 19px;
}

.select {
  background: #ffffff;
  top: 0.8em;
  right: 0.8em;
  width: 2rem;
  height: 1rem;
  padding: 8px 38px 8px 8px;
  color: #da3c41;
  font-size: 19px;
}

.fusen1 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:120px;
  background-color: rgb(240, 26, 26);
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen2 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:800px;
  background-color: rgb(102, 255, 255);
}
.fusen3 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:20px;
  width:120px;
  background-color: #596dd9;
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen4 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:100px;
  background-color: rgb(199, 240, 153);
}
.fusen5 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:700px;
  background-color: rgb(199, 240, 153);
}
.fusen52 {
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:13px;
  width:250px;
  color:white;
  background-color: rgb(236, 28, 28);
}
.fusen6 {
  color: white;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:15px;
  width:170px;
  background-color: #596dd9;
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen7 {
  color: white;
  margin-top:20px;
  margin-bottom:20px;
  margin-left: 10px;
  font-size:15px;
  width:200px;
  background-color:  rgb(1, 13, 1);
  filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}
.fusen8 {
  width:350px;
  border-bottom: solid 3px #eb1919;
  // background: linear-gradient(transparent 70%, #ffa8a8 30%);

}
.column {
  font-size:13px;
}
.column_last {
  font-size:13px;
  background-color: rgb(255, 203, 102);
}
