.login_form {
  height: 100%;
  margin-top: -35rem;
  position: relative;
  z-index: 1;
}

.short_form, .short_content {
  padding-top: 8rem;
}

.short_form, .short_content {
  padding-top: 8rem;
}


.side {
  /* 浮かせて左に寄せる */
  float:left;
  right:0px;
}

.top {
    top: 500px;
}

.right {
  font-size: 20px;
  margin-left: 550px;
}

.button {
  display: flex;
  align-items:  center;
  justify-content: center;
  margin: 35px auto;
  padding: 0;
  height: 60px;
  max-width: 400px;
  border-radius: 5px;
  color: #fff;
  background: #419eb5;
  box-shadow: 0.4px 0 #29859c;
  font-size: 1.7rem;
  font-weight: bold;
  border: none;
  cursor: grab;
}

#top_logo {
  font-size: 40px;
  font-family: "serif";
  margin-left: 20px;
}

.mypage_image {
  width: 60rem;
  // transform: rotate(1deg);
  // filter: drop-shadow(0.1rem 0.3rem 0.2rem #524f4d);
}

.mypage_tape_image {
  width: 700px;
  height: 300px;
  position: absolute;
  top: -35px;
  left: 200px;
}

.vertical_line {
  width: 1px;
  height: 1rem;
  margin: 1rem;
  background-color: rgb(6, 75, 72);
  color:white;
}

a {
  color: white;
  margin-right: 1rem;
}
a { text-decoration: none;}
a:hover { text-decoration: none;}

.red_font {
  color: red;
  font-size: 16px;
}
